.complainant_name_error_notifier,
.agent_email_error_notifier, 
.complain_box_error_notifier,
.p_name_error_notifier,
.p_delivery_number_error_notifier
{
    pointer-events: none;
    opacity: 0;
}

.fraud_upload_notifier{
    pointer-events: none;
    opacity: 1;
}


.fraud_form_notifier{
    color : red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}