html,body{
    margin: 0;
}

.scanned_product_data{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
}
.scanned_product_data_texts{
    width: 50%;
}

.scanned_product_image_container{
    width: 50%;
}

.p_name_value{
    border-left: solid #F6C00F 2px ;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 0.3rem;
    margin-top: 1%;
    margin-bottom: 3%;
}

.print_button_container{
    width: 100%;
    margin-bottom: 5%;
    background-color: red;
}

.print_voucher_button{
    float: right;
    background-color: #F6C00F;
    border: none;
    padding: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 15em;
    width:7em;  
}