.r_name_error_notifier,
.r_email_error_notifier, 
.p_quantity_error_notifier,
.r_address_error_notifier
{
    pointer-events: none;
    opacity: 0;
}

.r_image_upload_notifier{
    pointer-events: none;
    opacity: 1;
}

.product_form_notifier{
    color : red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
}
